*{padding: 0;margin: 0;}
html{
	height: 100%;
}
body{
	background:-moz-linear-gradient(top,#26AFCF,#2ACDCD);/*Mozilla*/
	background:-webkit-linear-gradient(top,#26AFCF,#2ACDCD);/*new gradient for Webkit*/
    background:-o-linear-gradient(top,#26AFCF,#2ACDCD); /*Opera11*/
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.wrapper{
	width: 290px;
	height: 260px;
	// border: 1px solid #DDD;
	position: absolute;
	top:16%;
	left: 50%;
	margin-left: -145px;
}